# Baseline of non promo sales

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import pickle
import warnings

warnings.simplefilter("ignore")
pd.options.display.max_columns = None

In [2]:
import matplotlib.pyplot as plt

# Read data

In [3]:
saved_embeddings_fname = "models/embeddings.pickle" 
label_encoder_pickle = 'models/les.pickle'
embedded_ridge_model = 'models/embedded_ridge_model.pickle'

In [14]:
processed_path = 'processed/'
processed_file = 'processed_data.csv'
df = pd.read_csv(processed_path + processed_file)

# Baseline set promo = 0

In [15]:
df['Promo_original'] = df['Promo']
df['Promo'] = 0

In [18]:
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,year,weekofyear,Promo_original,holiday
0,1097,2,2013-01-01,5961,1405,1,0,1,2013,1,0,1
1,85,2,2013-01-01,4220,619,1,0,1,2013,1,0,1
2,259,2,2013-01-01,6851,1444,1,0,1,2013,1,0,1
3,262,2,2013-01-01,17267,2875,1,0,1,2013,1,0,1
4,274,2,2013-01-01,3102,729,1,0,1,2013,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
844333,745,5,2015-07-31,8363,746,1,0,1,2015,31,1,0
844334,746,5,2015-07-31,9082,638,1,0,1,2015,31,1,0
844335,747,5,2015-07-31,10708,826,1,0,1,2015,31,1,0
844336,741,5,2015-07-31,11253,1137,1,0,1,2015,31,1,0
844337,1,5,2015-07-31,5263,555,1,0,1,2015,31,1,0

# Preprocessing

In [16]:
def consolidate_holiday(df):
    df['holiday'] = 0
    df.loc[df['holiday_public'] ==1, 'holiday'] = 1
    df.loc[df['holiday_easter'] ==1, 'holiday'] = 2
    df.loc[df['holiday_christmas'] ==1, 'holiday'] = 3
    return df.drop(columns = ['holiday_public', 'holiday_no', 'holiday_easter', 'holiday_christmas'])

In [19]:
df = consolidate_holiday(df)

KeyError: 'holiday_public'

In [20]:
X = df[['Store', 'year','weekofyear','DayOfWeek',  'holiday', 
        'Promo', 'SchoolHoliday']]
X_np = X.to_numpy()

In [21]:
# Load LabelEncoders
with open(label_encoder_pickle, 'rb') as f:
    les = pickle.load(f)

In [22]:
for i in range(5):
    """ Only need to encode the first 5 columns
    """
    X_np[:, i] = les[i].transform(X_np[:, i])

In [23]:
def embed_features(X, saved_embeddings_fname):
    # f_embeddings = open("embeddings_shuffled.pickle", "rb")
    f_embeddings = open(saved_embeddings_fname, "rb")
    embeddings = pickle.load(f_embeddings)

    # first number is the column number of the data
    # second number is the number of embedding file
    index_embedding_mapping = {0: 0, 1: 1, 2: 2, 3: 3, 4: 4}
    X_embedded = []

    for record in X:
        embedded_features = []
        for i, feat in enumerate(record):
            feat = int(feat)
            if i not in index_embedding_mapping.keys():
                embedded_features += [feat]
            else:
                embedding_index = index_embedding_mapping[i]
                embedded_features += embeddings[embedding_index][feat].tolist()

        X_embedded.append(embedded_features)

    return np.array(X_embedded)

In [24]:
pred_embedded = embed_features(X_np, saved_embeddings_fname)

# Prediction

In [25]:
# Load model
with open(embedded_ridge_model, 'rb') as f:
    ridge_model = pickle.load(f)

In [26]:
df['prediction']= np.exp(ridge_model.predict(pred_embedded)).astype(int)
df['baseline'] = df['prediction'].clip(0,df['Sales'])

In [27]:
df['uplift'] = df['Sales'] - df['baseline']

# Plot one store

In [28]:
test_store = df.loc[df['Store']==1114]

In [30]:
test_store

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,year,weekofyear,Promo_original,holiday,prediction,baseline,uplift
850,1114,3,2013-01-02,20642,3401,1,0,1,2013,1,0,0,17292,17292,3350
1858,1114,4,2013-01-03,18463,3211,1,0,1,2013,1,0,0,17498,17498,965
2966,1114,5,2013-01-04,18371,3036,1,0,1,2013,1,0,0,18520,18371,0
4073,1114,6,2013-01-05,18856,3065,1,0,0,2013,1,0,0,16860,16860,1996
5198,1114,1,2013-01-07,21237,2962,1,0,0,2013,2,1,0,18849,18849,2388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839504,1114,1,2015-07-27,26720,3468,1,0,1,2015,31,1,0,21498,21498,5222
840620,1114,2,2015-07-28,25518,3456,1,0,1,2015,31,1,0,18861,18861,6657
841731,1114,3,2015-07-29,25840,3545,1,0,1,2015,31,1,0,18097,18097,7743
842844,1114,4,2015-07-30,24395,3251,1,0,1,2015,31,1,0,18313,18313,6082
843957,1114,5,2015-07-31,27508,3745,1,0,1,2015,31,1,0,19383,19383,8125

In [32]:
def mape(y_true, y_pred):
    """Mean absolute percent error
    How far away prediction from true value
    """
    relative_err = np.absolute((y_pred - y_true) / y_true)
    result = np.sum(relative_err) / len(y_true)
    return result

def mpe(y_true, y_pred):
    """Evaluate result if prediction is consistently higher or lower
    Ideally to see 0 since all higher and lower would zero out. 
    """
    relative_err = ((y_pred - y_true) / y_true)
    result = np.sum(relative_err) / len(y_true)
    return result

In [33]:
mape(test_store.Sales, test_store.prediction)

0.1605186520557312

In [34]:
mpe(test_store.Sales, test_store.prediction)

-0.12764705876358878